<div class="scanner-wrapper" 
     (mousedown)="startDrag($event)" 
     (mousemove)="onMove($event)" 
     (mouseup)="stopDrag()" 
     (mouseleave)="stopDrag()"
     (touchstart)="startDrag($event)" 
     (touchmove)="onMove($event)" 
     (touchend)="stopDrag()">

  <!-- HAMBURGUESA (lado derecho visible) -->
  <div class="after-image-container"
       [style.clip-path]="'inset(0 ' + (100 - sliderOpacity) + '% 0 0)'">
    <img src="assets/img/tofu-marmol.png"
         class="food-image"
         alt="Hamburguesa Gourmet">
  </div>

  <!-- TOFU (lado izquierdo visible) -->
  <div class="before-image-container"
       [style.clip-path]="'inset(0 0 0 ' + sliderOpacity + '%)'">
    <img src="assets/img/hamburguesa-marmol.png"
         class="food-image"
         alt="Tofu Artesanal">
  </div>

  <!-- LÍNEA DEL SLIDER -->
  <div class="scanner-line" [style.left.%]="sliderOpacity">
    <div class="scanner-handle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="display: block;">
        <path d="M8 17l-5-5 5-5M16 7l5 5-5 5"/>
      </svg>
    </div>
  </div>

  <!-- INPUT (CONTROL) -->
  <input type="range"
         min="0"
         max="100"
         [(ngModel)]="sliderOpacity"
         class="scanner-input">

</div>