<!-- FOOTER TOP PART START -->
<div class="footer_top">
  <div class="container">
    <div class="row">
      <!-- Contacto -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-5">
        <div class="footer_widget">
          <div class="footer_widget_title">
            <h2>¡Contáctanos!</h2>
          </div>
          <ul class="footer_widget_content">
    <li>
        <span>Whatsapp: </span>
        <a href="https://wa.me/573019447660?text=Hola!%20Vengo%20de%20la%20web%20y%20quiero%20info%20de%20Koky%20Food%20🥦" 
           target="_blank" class="footer_link">
           +57 301 944 7660
        </a>
    </li>
    <li>
        <span>Email: </span>
        <a href="mailto:somos&#64;koky.food?subject=Consulta%20desde%20la%20Web" 
           class="footer_link">
           somos&#64;koky.food
        </a>
    </li>
    <li>
        <span>Dirección: </span>
        <a href="https://www.google.com/maps/search/?api=1&query=Calle+119A+%2357-40+Bogota" 
           target="_blank" class="footer_link">
           Calle 119A #57-40, Lagos de Cordoba, Bogota
        </a>
    </li>
</ul>
          <div class="footer_social">
  <ul class="footer_social_icons">
    <li>
      <a href="https://www.instagram.com/koky.food/" target="_blank">
        <i class="icofont-instagram"></i>
      </a>
    </li>
    <li>
     <a href="https://www.facebook.com/profile.php?id=61578937166557" target="_blank">
    <i class="icofont-facebook"></i>
</a>
    </li>
    <li>
      <a href="https://www.youtube.com/@Koky_food" target="_blank">
        <i class="icofont-youtube-play"></i>
      </a>
    </li>
    <li>
      <a href="https://wa.me/573019447660?text=Hola!%20Vengo%20de%20tus%20redes%20y%20quiero%20info%20de%20Koky%20Food%20🥦" 
         target="_blank">
        <i class="icofont-whatsapp"></i>
      </a>
    </li>
  </ul>
</div>
        </div>
      </div>

      <!-- Soporte al cliente -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-5">
        <div class="footer_widget">
          <div class="footer_widget_title">
            <h2>Soporte al cliente</h2>
          </div>
          <ul class="footer_widget_content">
            <li><i class="icofont-double-right"></i><a href="#full-about">Nosotros</a></li>
            <li><i class="icofont-double-right"></i><a role="button" (click)="goToPolitic('/politica-privacidad')">Política de privacidad</a></li>
            <li><i class="icofont-double-right"></i><a role="button" (click)="goToPolitic('/devoluciones')">Devoluciones</a></li>
            <li><i class="icofont-double-right"></i><a role="button" (click)="goToPolitic('/ventas-al-mayor')">Política de ventas al por mayor</a></li>
          </ul>
        </div>
      </div>

      <!-- Enlaces rápidos -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-5">
        <div class="footer_widget">
          <div class="footer_widget_title">
            <h2>Enlaces rápidos</h2>
          </div>
          <ul class="footer_widget_content">
            <li><i class="icofont-double-right"></i><a href="#index.html">Inicio</a></li>
            <li><i class="icofont-double-right"></i><a href="#product">Productos</a></li>
            <li><i class="icofont-double-right"></i><a href="#full-testimonial">Testimonios</a></li>
            <li><i class="icofont-double-right"></i><a role="button" (click)="goToBlog()">Recetas</a></li>
         
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER TOP PART END -->

<!-- FOOTER BOTTOM PART START -->
<div class="footer_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="footer_txt text-center">
          <p>Copyright 2026 <span>Koky.food</span>. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER BOTTOM PART END -->